<h1>Welcome to the Jungle</h1>
<p>Your source for great products and reviews for all the hottest items.</p>

<%= link_to "Add a product", new_product_path %>



<hr/>

<%= label_tag :term, "Find a product:" %>
<%= text_field_tag :term %>



<p><small><%= page_entries_info @products %></small><p>

<div id="products_container">
  <%= render @products %>
</div>

<div class="pagination"<%= paginate @products %></div>